body{
    width:100%;
    position:relative;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: 333333;
    margin: 0px;
    padding: 0px;
}

/*header*/
.header{
    position: fixed;
    width:100%;
    height: 40px;
    top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    display:flex;
    /* flex-direction: row; */
    justify-content: space-between;
}
.CrystalLogo{
    position: relative;
    width: 40px;
    height: 38.86px;
}
.nav{
    display: flex;
    width: 92%;
    height: 40px;
    justify-content: end;
}
.section-title{
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
}
.section-title a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.Hi{
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;   
}
.Hi a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*content*/
.main-content{
    position:relative;
    width:100%;
    height: 600px;
    top: 118px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-illustration{
    position: relative;
    width: 600px;
    height: 600px;
}

.project-category{
    position:relative;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding-left: 10%;
}
.category-item {
    display: flex;
    width: 80%;
    border-bottom: 1px solid #B7B7B7;
    padding-top: 5em;
}
.category-item .category-name {
    flex-grow: 2;
    margin-left: 250px;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: -0.02em;
}
.category-item .category-number {
    align-self: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
}

/* .project-illustration{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 0px;
    top: 118px; 
}

#uiDesign{
    position: absolute;
    width: 370px;
    height: 231px;
    left: 594px;
    top: 172px;
}

#industrialDesign{
    position: absolute;
    width: 370px;
    height: 231px;
    left: 994px;
    top: 433px;
}

#Film{
    position: absolute;
    width: 370px;
    height: 230.71px;
    left: 594px;
    top: 433px;
}

#Animation{
    position: absolute;
    width: 370px;
    height: 230.71px;
    left: 994px;
    top: 174px;
} */

/*footer*/
.footer{
    color:#7A7A7A;
    position: fixed;
    bottom: 0;
    left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.email{
    margin-left: 50px;
}
.weChat{
    margin-left: 50px;
}

.footer a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 900px){
    .gallery{
        display: flex;
    }
}